# Pipeline for deploying changes to the APIM instance

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - infra/**
pr:
  branches:
    exclude:
      - '*'

name: Deploy APIM Integration Infrastructure

variables:
  - group: DertInfoAPIMIntegration_VariablesGroup
  - name: vmImageName
    value: 'ubuntu-latest'
  - name: location
    value: 'uksouth'
  - name: templateFile
    value: '**/apim/main.bicep'
  - name: csmParametersFile
    value: '**/apim/main.parameters.json'

stages:
  - stage: Test
    displayName: Deploy to Test
    jobs:
      - job: Deploy_To_Test
        pool:
          vmImage: $(vmImageName)
        steps:
        - task: AzureResourceManagerTemplateDeployment@3
          inputs:
            azureResourceManagerConnection: '$(SubscriptionReference_Stg)'
            deploymentScope: 'Resource Group'
            action: 'Create Or Update Resource Group'
            resourceGroupName: '$(ResourceGroupName_Stg)'
            location: '$(location)'
            templateLocation: 'Linked artifact'
            csmFile: '$(templateFile)'
            csmParametersFile: '$(csmParametersFile)'
            deploymentMode: 'Incremental'
            deploymentName: 'Deploy Integration APIM' 
            overrideParameters: |
              -ownerInitials $(OwnerInitials) \
              -workloadName $(WorkloadName) \
              -applicationInsightsName $(ApplicationInsightsName_Stg) \
              -applicationInsightsResourceGroupName $(ApplicationInsightsResourceGroupName_Stg) \
              -environmentTag $(EnvironmentTag_Stg) \
              -publisherEmail $(PublisherEmail) \
              -publisherName $(PublisherName)

  - stage: Live
    displayName: Deploy to Live
    dependsOn: Test
    jobs:
      - job: Deploy_To_Live
        pool:
          vmImage: $(vmImageName)
        steps:
        - task: AzureResourceManagerTemplateDeployment@3
          inputs:
            azureResourceManagerConnection: $(SubscriptionReference_Prod)
            deploymentScope: 'Resource Group'
            action: 'Create Or Update Resource Group'
            resourceGroupName: '$(ResourceGroupName_Prod)'
            location: '$(location)'
            templateLocation: 'Linked artifact'
            csmFile: '$(templateFile)'
            csmParametersFile: '$(csmParametersFile)'
            deploymentMode: 'Incremental'
            deploymentName: 'Deploy Integration APIM' 
            overrideParameters: |
              -ownerInitials $(OwnerInitials) \
              -workloadName $(WorkloadName) \
              -applicationInsightsName $(ApplicationInsightsName_Prod) \
              -applicationInsightsResourceGroupName $(ApplicationInsightsResourceGroupName_Prod) \
              -environmentTag $(EnvironmentTag_Prod) \
              -publisherEmail $(PublisherEmail) \
              -publisherName $(PublisherName)

